li{
    
    margin: 10px 0px;   
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgb(0, 0, 0);
    display:inline-flex;
    text-align: center;
       
}
nav{
    background-color: rgb(87, 189, 141);
    padding: 10px;
    margin-bottom: 20px;  
         
}
nav a{
    display: inline-block;
    color:rgb(6, 29, 236);
    text-decoration: none;
    background-color: rgb(87, 189, 141);
    padding: 20px;   
    font-size: 150%;     
    width: 80%;
}
nav img {
    border: 5px dashed lightcoral   ;
    width: 10%;
    top: 20px;
    transition: transform 2s, rotate 2s, width 2s, border 2s, top 2s;
}
img:hover{
    width: 20%;
    border: 5px dashed tomato;
    top: 20px;
    transform: rotate(360deg);
    
    
}
a{
    color: rgb(0, 102, 204);
}
body h1{
    display: block;
    font-size: 40px;
    text-align: center;
    color: rgb(255, 99, 132);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
body{
    background-color:rgba(252, 249, 218, 0.853);
}
.grid {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
    align-items: start;
    row-gap: 20px;
    justify-items: start;
    align-content: space-around;
}
.grid div {
    border: 2px solid lightgoldenrodyellow;
    background-color: lightpink;
    text-decoration:underline ;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: darkblue;
    transition: transform 0.5s, color 0.5s;
}
.grid div:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.05);
}
.grid img {
    width: 90%;
    border: 5px solid black;
    padding: 10px;
    background-color: ivory;
    opacity: 50%;
    transition: transform 0.5s, border 0.5s , opacity 0.2s;
}

.grid img:hover {
    border: 5px solid tomato;
    transform: scale(1.05);
    opacity: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
h1{
    color:rgb(255, 164, 169);
    text-align:center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:36px;

}

ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0;
    margin: 0;
    list-style: auto;
    color: brown;
}
div{
    background-color:rgb(47, 209, 201);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(213, 255, 216);
    display: inline-block;
    text-align: center;
    
}

